img {
  width: 100%;
}

.landing {
  position: relative;
  background: white;
  background-size: cover;
  background-position: center;
  margin-top: -24px;
  margin-bottom: -50px;
}

.login_btn {
  background-color: rgba(0, 0, 0, 0) !important;
  color: white;
  border: 0 !important; 
}

.login_btn:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0) !important;
}

.login_btn:hover {
  color: rgb(255, 90, 0);
}

.card {
  min-height: 400px;
  border-color: #343A40;
  transition: border-color 0.5s, border-width 0.5s, box-shadow 0.5s;
}

.card:hover {
  border-color: rgb(255, 90, 0);
  box-shadow: 0px -20px 0px 0px inset rgba(255, 89, 0, 0.589);
}

.status {
  height: 20px;
  width: 20px;
  background-color: aqua;
}

.email_label {
  font-size: 12px;
  font-family: 'Roboto';
  margin-bottom: 0;
  margin-top: -10px;
}

.pagination {
  display: block;
}